---
import './registerForm.css';

const email = Astro.cookies.get('email')?.value || '';
const rememberme = !!email;
---

<div class="login">
  <h2 class="login__title">Create new account</h2>
  <form class="form" id="register-form">
    <div class="form__group">
      <label class="form__label" for="name">Name</label>
      <input class="form__input" type="text" id="name" name="name" required />
    </div>
    <div class="form__group">
      <label class="form__label" for="email">Email</label>
      <input class="form__input" value={email} type="email" id="email" name="email" required />
    </div>

    <div class="form__group">
      <label class="form__label" for="password">Password</label>
      <input class="form__input" type="password" id="password" name="password" required />
    </div>

    <div class="form__group form__group--check">
      <input class="form__check" checked={rememberme} type="checkbox" id="remember_me" name="remember_me" />
      <label class="form__label" for="remember_me">remember me</label>
    </div>

    <button class="form__submit" type="submit">Continue</button>
  </form>

  <a href="/auth/login">Login</a>
</div>

<script>
  import { actions } from 'astro:actions';

  const form = document.querySelector('#register-form') as HTMLFormElement;
  const btnSubmit = form.querySelector('.form__submit') as HTMLButtonElement;

  form.addEventListener('submit', async event => {
    event.preventDefault();
    btnSubmit.setAttribute('disabled', 'disabled');

    const formData = new FormData(form);

    const { data, error } = await actions.registerUser(formData);
    if (error) {
      console.log(error);
      return;
    }
  });
</script>
