---

---

<nav>
  <ul>
    <li>
      <a href="/auth/login">Login</a>
    </li>
    <li>
      <a href="/">Inicio</a>
    </li>
    <li>
      <a href="/profile">Perfil</a>
    </li>
    <li>
      <a href="/hybrid">Hibrido</a>
    </li>
  </ul>
</nav>
